.hamburger {
  width: 100%;
  height: 6px;
  background-color: white;
  margin: 6px 0;
  text-align: center;
}

.drawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background-color: #242054;
  z-index: 500;
}

.navList {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 0px;
  height: 100%;
}
.navButton {
  background-color: inherit;
  color: #8884f7;
  border: 1px solid;
  width: 90%;
  border-radius: 0.25em;
  height: 2.5em;
  margin-left: 1%;
}
